html{
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
}

body {
    font: normal .78em arial, helvetica, sans-serif;
    background: url(images/back2.jpg);
    color: rgb(85, 85, 85);
    margin: 15px 35px 25px 15px;
}



img
{   border: 0;
    margin-left: -25px;

}

h1,h2,h3,h4,h5{
    font: normal 175% 'century gothic', arial, sans-serif;
    color: black;
    margin: 0 0 15px 0;
    padding: 15px 0 5px 0;
}



h3{
    color: steelblue;
}

h4{
    font: normal 120% arial, sans-serif;
}

h5{
    font: italic 120% arial, sans-serif; 
}

h4,h5{
    padding: 0;
    color: #000066;
}

a, a:hover {
    outline: none;
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



ul{
    margin: 2px 0 22 17px;
}

ul li{
    list-style-type: decimal;
    margin: 0 0 0 0; 
    padding: 0 0 4px 5px;
}

#main, #header, #logo, #menubar, #site_content, #footer {
    margin-left: auto;
    margin-right: auto;
}

#main {
    width: 1000px;
    background: 20px auto;
}

#header {
    width: 890px;
    height: 200px;
}

#logo {
    width: 890px;
    position: relative;
    height: 200px;
}

#logo h1{
    padding-top: 65px;
}

#logo h1{
    font-size: 300%;
}

#logo h1, #logo h2 {
    font: 'century gothic', arial, sans-serif;
    border-bottom: 0;
    text-transform: none;
    margin: 5px;
}


#menubar {
    width: 980px;
    height: 35px;
    padding: 8px 0 0 0;
    margin: -190px 0 0 0;
    position: relative;
    z-index: 2;
    float: center;
}

ul#menu {  
    margin: 0;
    width: 150%;
    margin-left: -350px;
    position: fixed;
    top: 0;
}

ul#menu li{

    margin: 0px -40px 0 2px;
    padding: 11px 0px 7px 50px;
    list-style: none;
}

ul#menu li a {
    letter-spacing: 0em;
    font: normal 150% arial, sans-serif;
    text-transform: uppercase;
    float: center;
    height: 20px;
    margin-left: 20px;
    text-decoration: none;
    padding: 9px 22px 5px 16px;
    text-align: center;
    color:darkblue;
    border: 0;
}



    

ul#menu li a:hover {
    color: #888;
}

#site_content {
    width: 1100px;
    margin-left: -40px;
    margin-right: -10px;
    overflow: hidden;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(231, 231, 231);
} 


.sidebar {
    float: right;
    width: 198px;
    padding: 20px 25px 15px 15px;
    background: oldlace;
}




#content {
    text-align: left;
    width: 600px;
    float: left;
    padding: 20px 0 15px 30px;
}

#content p {
    font-size: 130%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 10px 0px 10px 0;
    line-height: 1.5em;
}



#footer {
    width: 1100px;
    height: 33px;
    margin-left: -40px;
    margin-right: -10px;
    padding: 20px 0 4px 0;
    text-align: center;
    background: #555;
    color: #aaa;
    border-top: 1px solid #fff;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-size: 90%;
}

