html{
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
}

body {
    font: normal .78em arial, helvetica, sans-serif;
    background: rgb(240, 230, 230);
    color: rgb(85, 85, 85);}


img
{ border: 0;}

h1,h2,h3,h4,h5{
    font: normal 175% 'century gothic', arial, sans-serif;
    color: black;
    margin: 0 0 15px 0;
    padding: 15px 0 5px 0;
}


h3{
    color: steelblue;
}

h4{
    font: normal 120% arial, sans-serif;
}

h5{
    font: italic 120% arial, sans-serif; 
}

h4,h5{
    padding: 0;
    color: #000066;
}

a, a:hover {
    outline: none;
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul{
    margin: 2px 0 22 17px;
}

ul li{
    list-style-type: decimal;
    margin: 0 0 0 0; 
    padding: 0 0 4px 5px;
}

#main, #header, #logo, #menubar, #site_content, #footer {
    margin-left: auto;
    margin-right: auto;
}

#main {
    width: 1000px;
    background: 20px auto;
}

#header {
    width: 890px;
    height: 200px;
}

#logo {
    width: 890px;
    position: relative;
    height: 200px;
}



#logo h1, #logo h2 {
    font: normal 200% 'century gothic', arial, sans-serif;
    border-bottom: 0;
    text-transform: none;
    margin: 10px;
}


#menubar {
    width: 890px;
    height: 35px;
    padding: 8px 0 0 0;
    margin: -45px 0 0 0;
    position: relative;
    z-index: 1;
    float: right;
}

ul#menu { 
    float: right;
    margin: 0;
}

ul#menu li {
    float: left;
    margin: 5px 0 0 0;
    padding: 0 0 0 6px;
    list-style: none;
}

ul#menu li a {
    letter-spacing: 0em;
    font: normal 130% arial, sans-serif;
    text-transform: uppercase;
    display: block;
    float: left;
    height: 20px;
    text-decoration: none;
    padding: 9px 22px 5px 16px;
    text-align: center;
    color:green;
    border: 0;
}

ul#menu li.selected a {
    height: 25px;
    color: #111;
    padding: 7px 22px 5px 16px;
}

ul#menu li.selected {
    margin: 7px 0 0 0;
    background: #f8f8f8;
}

ul#menu li a:hover {
    color: #888;
}

#site_content {
    width: 890px;
    overflow: hidden;
    background: #f8f8f8;
}

.sidebar {
    float: right;
    width: 198px;
    padding: 20px 25px 15px 15px;
}

.sidebar ul {
    width: 178px;
    padding: 4px 0 0 0;
    margin: 4px 0 30px 0;
}

.sidebar li {
    list-style: none;
    padding: 0 0 7px 0;
}

.sidebar li a, .sidebar li a:hover {
    padding: 0 0 0 40px;
    display: block;
}

#content {
    text-align: left;
    width: 600px;
    float: left;
    padding: 20px 0 15px 30px;
}

#content p {
    margin: 0 0 9px 0;
    line-height: 1.3em;
}

#content ul {
    margin: 2px 0 22px 0;
}

#content ul li {
    list-style-type: none;
    margin: 0 0 6px 0;
    padding: 0 0 4px 25px;
    line-height: 1.5em;
}
#footer {
    width: 890px;
    height: 33px;
    padding: 20px 0 4px 0;
    text-align: center;
    background: #555;
    color: #aaa;
    border-top: 1px solid #fff;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-size: 90%;
}

#footer a {
    color: #fff;
    text-transform: none;
}

footer a:hover {
    color: rgb(114, 99, 99);
    text-decoration: none;
}